:root 
{
    --all-text: #FFD43B;
    --sel-Ava-bg-col: rgb(19, 18, 56);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:#031c41;
    max-width: 1440px;
    margin: auto;
    font-family: 'Averia Serif Libre', cursive;
}

main
{
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
}

#welcomeBanner
{
    background-image: url(../img/WeakestLinkLogo\ -\ BG.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 70%;
    margin: 20px 45px;
}

h1
{
    margin-top: 50px;
    text-shadow: #0163C3;
    text-align: center;
    font-size: 3rem;
    color: var(--all-text);
    border: #0163C3;
}

body > main > section 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;

}

section > a > button
{
    padding: 30px;
    margin : 50px;
    background-color:#0163C3;
    border: 2px solid #5A82B2;
    border-radius: 15px;
    font-size: 2rem;
}

#rulesDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#gameRules
{
    grid-column-start: 2;
    padding: 30px;
    margin : 50px;
    background-color:#5595d6;
    border: 2px solid #5A82B2;
    border-radius: 15px;
    color: var(--all-text);
    font-size: 2rem;
}

footer
{
    text-align: center;
    color: #5595d6;
    font-size: 25px;
    margin-bottom: 10px;
}

#startGame:hover
{
    background-color: #237020;
}

#loadGame:hover
{
    background-color: #a7881a;
}

#gameRules:hover
{
    background-color: #834013;
}

a
{
    text-decoration: none;
    color: var(--all-text);
}


/********************************************************************
        AVATAR SELECTION
********************************************************************/

#selectAvatarContainer > h1
{
    margin: 30px 0;
    text-align: center;
    font-size: 4rem;
    color: var(--all-text);
}

#selectAvatar
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}

#selectAvatar > a
{
    width: 100%;
}

#selectAvatar > div
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    height: 50vh;
}

#avatar1
{
    background-image: url(../img/Cindy.png);
}

#avatar2
{
    background-image: url(../img/Helen.png);
}

#avatar3
{
    background-image: url(../img/David.png);
}

#avatar4
{
    background-image: url(../img/Joan.png);
}

#avatar5
{
    background-image: url(../img/Stacy.png);
}

#avatar6
{
    background-image: url(../img/Tiffany.png);
}

.avatar:hover
{
    background-color: #081427;
}

.avatarSelectionButtons
{
    background-color: rgb(14, 48, 56);
    border-radius: 50%;
    border: 5px solid var(--all-text);
    font-size: 25px;
    color: var(--all-text);
    width: inherit;
    padding: 25px;
}

.avatarSelectionButtons:hover
{
    background-color: #11284d;
    border: 8px solid var(--all-text);
}

#backButton
{
    padding: 5px;
    margin-top: 10px;
    background-color:#0163C3;
    border: 2px solid #5A82B2;
    border-radius: 15px;
    font-size: 1rem;
    color: ivory;
}

/********************************************************************
        CONFIRM AVATAR SELECTION
********************************************************************/
#confirmAvatar > h1
{
    margin: 30px 0;
    text-align: center;
    font-size: 4rem;
    color: var(--all-text);
}

#confirmAvatar > main
{
    display: grid;
    grid-template-rows: 4fr 1fr;
}

#avatarSelected
{
    background-image: url(../img/WeakBrokenLink.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;   
    height: 55vh;
}

#confirmAvatar > main > div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0;
    justify-items: center;
}

#Yes, #No
{
    padding: 30px 150px;
    background-color:#0163C3;
    border: 2px solid #5A82B2;
    border-radius: 15px;
    font-size: 2rem;
    width: inherit;
}

#Yes:hover
{
    background-color: #237020;
}

#No:hover
{
    background-color: #834013;
}


/********************************************************************
        ROUND ONE UI
********************************************************************/
#roundOne > main, #roundTwo > main, #suddenDeath > main
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
}

#moneyTreeContainer
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    margin-top: 30px;
}

#displayQnAContainer
{
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr .5fr;
    row-gap: 5px;
    width: 100%;
    justify-items: center;
    color: white;
    font-size: 3rem;
}

.moneyTreeValueDisplay /* Money Tree Display Values re: Button */
{
    background-color:#0163C3;
    border: 10px solid var(--all-text);
    padding: 15px 50px;
    border-radius: 50%;
    margin: 0 30px;
    color: var(--all-text);
    font-size: 1.5rem;
}

#bankedAmount
{
    background-color:#081427;
    border: 5px solid #0163C3;
    border-radius: 50%;
    padding: 5px;
    margin-top: 25px;
    font-size: 3rem;
    color: #FFD43B;
}

#bankButton:hover
{
    border: 5px solid #a3ddcb;
    background-color:#a3ddcb;
    color: #ffe3de;
}

#displayQuestion
{
    margin: auto auto;
    font-size: 4rem;
}

.displayAnswers
{
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.displayAnswers:hover
{
    background-color: #a3ddcb;
}

#bankedButton, #nextQuestion
{
    padding: 30px 150px;
    background-color:#0163C3;
    border: 2px solid #5A82B2;
    border-radius: 15px;
    font-size: 2rem;
    width: inherit;
}

#bankedButton:hover, #nextQuestion:hover
{
    background-color: #237020;
}

/********************************************************************
        ROUND TWO UI
********************************************************************/
#roundTwo > main > #moneyTreeContainer
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    row-gap: 15px;
    margin-top: 30px;
}

/********************************************************************
        Sudden Death UI
********************************************************************/
#moneyTreeContainer
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    row-gap: 15px;
    margin-top: 30px;
}

.suddenDeathLifeLines
{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;   
    border: 3px solid #031c41;
    border-radius: 25%;

}

.suddenDeathLifeLines:hover
{
    background-color:#0163C3;
}
#lifeLineOne
{
    background-image: url(../img/Classic5050.png);
}

#lifeLineTwo
{
    background-image: url(../img/ClassicPAF.png);
}

#lifeLineThree
{
    background-image: url(../img/ClassicATA.png);
}

#suddenDeath > main > #displayQnAContainer
{
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    justify-items: center;
    height: 90vh;
    color: white;
    font-size: 3rem;

}

